*.pdb
cfg/local_loadout.txt
cfg/settings.scr
cfg/user.scr
*.lst
*.ain
GameState.txt
*.prt
*.vmx
*.vmf
media/viewed.res
modelsounds.cache
sound_workshop/sound/sound.cache
sound/sound.cache
stats.txt
*.log
*.log
tf2_playerstats.dmx
